<mat-toolbar color="primary">
  <mat-toolbar-row>
     <img src=""> <!-- Add your logo if available-->
     <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
 </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <!-- This is your sidenav -->
  <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
     <app-sidebar></app-sidebar>
  </mat-sidenav>
<!-- Content or body of your page-->
   <mat-sidenav-content>
      <div style="height: 90vh">
         <router-outlet></router-outlet>
      </div>
   </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>